html body {
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    background-image: url('space.jpeg');
}

#container {
    display: none;
    height: 95vh;
    width: 700px;
    background-color: rgb(18, 8, 126);
    background-image: url('space.jpeg');
    border: 3px solid rgb(101, 101, 2);
    margin: 10px;
}

#levels{
    background-color: rgb(1, 48, 26);
    border: 2px solid rgb(0, 255, 21);
    color: rgb(0, 255, 21);
    top: 40%;
    position: fixed;
    padding: 20px;
}

.level {
    display: inline-block;
    color: rgb(0, 255, 42);
    border: 2px solid rgb(23, 255, 2);
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
}

.level:hover {
    border: 2px solid red;
    
} 

.tobreak1{
    display: inline-block;
    width: 3%;
    height: 20px;
    margin: 1px;
    border-radius: 10%;
}

#board {
    width: 110px;
    height: 10px;
    background-color: rgb(139, 137, 137);
    display: none;
    position: absolute;
    border: 2px solid rgb(99, 164, 0);
    border-radius: 30%;
}

#ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: none;
    background-color: rgb(184, 181, 181);
    border: 1px solid black;
    position: absolute;
}

/* disabling scroll*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: hidden;
}

#failed {
    font-size: 300%;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: rgb(2, 214, 252);
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

.invisible {
    display: none;
} 

#again {
    display: inline-block;
    border: 2px solid black;
    font-size: 50%;
    color: black;
    font-weight: normal;
    align-self: center;
    cursor: pointer;
}

#again:hover {
    border: 2px solid red;
}

#score {
    display: none;
    border: 2px solid wheat;
    color: wheat;
    text-align: center;
    padding: 5px;
    margin: 2px;
    position: absolute;
}

#win {
    font-size: 300%;
    color: green;
    font-weight: bold;
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: rgb(0, 247, 255);
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

#nextlevel {
    display: inline-block;
    border: 2px solid black;
    font-size: 50%;
    color: black;
    font-weight: normal;
    align-self: center;
    cursor: pointer;
}

#nextlevel:hover {
    border: 2px solid green;
}

.hidden {
    display: hidden;
}