#blocks{
    display: inline-block;
    width: 99%;
    margin: 20px;
}

html {
    background-color: rgb(5, 0, 62);
}

.tobreak1{
    display: inline-block;
    width: 3%;
    height: 20px;
    background-color: rgb(247, 61, 61);
    margin: 2px;
    border-radius: 20%;
}

#board {
    width: 70px;
    height: 10px;
    background-color: lightgrey;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20px);
    border: 1px solid rgb(142, 142, 239);
    border-radius: 30%;
}

#ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(184, 181, 181);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -31px);

}

/* disabling the horizontal scroll*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#failed {
    font-size: 300%;
    color: red;
    font-weight: bold;
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

.invisible {
    display: none;
} 

#again {
    display: inline-block;
    border: 2px solid black;
    font-size: 50%;
    color: black;
    font-weight: normal;
    align-self: center;
}

#again:hover {
    border: 2px solid red;
}