html body {
    text-align: center;
    background-image: url('space.jpeg');
}
h1 {
    display: inline-block;
    text-align: center;
    color: rgb(60, 255, 0);
    font-weight: bold;
    font-size: 300%;  
}
p {
    display: inline-block;
    text-align: center;
    color: rgb(166, 241, 183);
    font-size: 170%;
}

a {
    display: inline-block;
    text-align: center;
    border: 3px solid rgb(166, 241, 183);
    color: rgb(166, 241, 183);
    padding: 20px;
    font-size: 250%;
    width: 40%;
    text-decoration: none;
}
a:hover {
    border: 5px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    text-shadow: 2px;
    box-shadow: 2px;
}
